@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
*
{
	--color-main: #0F509A;
}
html,body
{

	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: "Lato";
	height: 100%;
	width: 100%;
}
header
{
	position: relative;
	
	width: 100%;
	
	display: flex;
	flex-direction: column;
	background: url(../images/bato.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
header:before
{
	display: block;
    content: '';
    width: 100%;
    padding-top: 42.5%;
    background-color: rgba(0,0,0,0.2);
}
.header-home-title,.header-home-offers
{
	color: white;
    font-weight: 400;
    padding: 12px;
    display: inline-flex;
    margin:20px 0;
    cursor: pointer;
    border-radius: 2px;

}
.header-home-offers
{
	margin: 0 20px;
}
.header-home-title-main
{
	color: white;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.header-menu-list
{
	display: flex;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	z-index: 55;
	position: absolute;
	right: 0;
}
.header-button
{
	border-radius: 2px;
    color: var(--color-main);
    padding: 10px;
    background-color: white;
    width: 110px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    margin: auto;
}
.header-info-title
{
	color: white;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
}
.header-info-paragraph
{
	color: white;
	text-align: center;
}	
.group-info
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
